body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #3498db; /* Color azul */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #ffffff; /* Color de texto blanco */
}