<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="/static/CSS/estilos.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/EJERCICIO2">
            <label for="Nombre1">Nombre 1:</label>
            <input type="text" name="Nombre1"><br>
            <label for="Nombre2">Nombre 2:</label>
            <input type="text" name="Nombre2"><br>
            <label for="Nombre3">Nombre 3:</label>
            <input type="text" name="Nombre3"><br>
            <input type="submit" value="Enviar">
        </form>
        <div id="resultado">
            {{ resultado | safe }}
        </div>
    </div>
</body>
</html>